footer {
  text-align: center;
  padding: 20px;
  background-color: $color_dark_blue;
  color: $color_white;
  font-size: 12px;

  a {
    color: $color_white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
