html, body{
  height:100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
}

h1, h2{
  font-family: $font-stack-header;
  color: $color_black;
}

h3, h4, h5, h6 {
  font-family: $font-stack-subheader;
  color: $color_grey_dark;
}

p, a, footer, span, li, blockquote {
  font-family: $font-stack-copy;
  color: $color_black;
}

label{
  display:none;
}

blockquote{
  font-style: italic;
}

.wrapper{
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 0 auto;
  flex: 1 0 auto;
  padding: 20px;
}

footer{
  flex-shrink: 0;
}

a{
  color: $color_black;
  text-decoration: underline;
  text-decoration-color: $color_pink;
  &:hover, &:focus{
    color: $color_pink;
  }
}

p, span{
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.4;
  &:first-of-type{
    padding: 0;
  }
}

ul{
  list-style-type: none;
}

li{
  padding-bottom: 20px;
}

h4{
  font-size: 20px;
}

hr{
  width: 50%;
}

code{
  background-color: #fbfaf8;
  border: 1px solid rgba(0,0,0, .4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px 4px;
}

pre code{
  display: block;
}

blockquote{
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 0.1em;
  &:before{
    color: $color_grey_light;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  &:after{
    color: $color_grey_light;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p{
    display: inline;
  }
}
