$color_pink: #F49D37;
$color_yellow: #ffd166;
$color_green: #06d6a0;
$color_light_blue: #F22B29; // if you squint hard enough, this is blue
$color_dark_blue: #D72638; // this one as well
$color_white:#fff;
$color_black:#000;
$color_grey_light: #999;
$color_grey_medium: #777;
$color_grey_dark: #555;
$color_grey_very_dark: #333;

$breakpoint_menu: 768px;

/* Fonts */

$font-stack-header: "Taviraj",
Helvetica,
sans-serif;
$font-stack-subheader: "Questrial",
Helvetica,
sans-serif;
$font-stack-copy: "Lato",
Helvetica,
sans-serif;