$color_pink: #D81E5B;
$color_yellow: #C6D8D3;
$color_green: #06d6a0;
$color_light_blue: #FF997A; // if you squint hard enough, this is blue
$color_dark_blue: #FF7F60; // this one as well
$color_white:#fff;
$color_black:#000;
$color_grey_light: #999;
$color_grey_medium: #777;
$color_grey_dark: #555;
$color_grey_very_dark: #333;

$breakpoint_menu: 768px;

/* Fonts */

$font-stack-header: "Titillium Web",
Helvetica,
sans-serif;
$font-stack-subheader: "Lustria",
Helvetica,
sans-serif;
$font-stack-copy: "Roboto Slab",
Helvetica,
sans-serif;