$color_pink: #D81E5B;
$color_yellow: #BA1200;
$color_green: #06d6a0;
$color_light_blue: #a8e6cf; // if you squint hard enough, this is blue
$color_dark_blue: #a8e6cf; // this one as well
$color_white:#508AA8;
$color_black:#000;
$color_grey_light: #999;
$color_grey_medium: #777;
$color_grey_dark: #555;
$color_grey_very_dark: #333;

$breakpoint_menu: 768px;

/* Fonts */

$font-stack-header: "Titillium Web",
Helvetica,
sans-serif;
$font-stack-subheader: "Lustria",
Helvetica,
sans-serif;
$font-stack-copy: "Roboto Slab",
Helvetica,
sans-serif;